
// base font setting

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: "Helvetica Neue", Helvetica;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: bold;
	color: $archivedBlack;
}


a, a:visited { 
	color: $archivedGray; 
	text-decoration: none; 
	
}
a:hover, a:focus { 
	
}

p a, p a:visited { 
	line-height: inherit; 
}

small{
	font-size: .8em;
	font-weight: bold;
}

ul{
	margin: 0;
	padding: 0;
}

.header{
	margin-bottom: 30px;
}

.black-link{
	a, a:visited { 
		color: $archivedBlack; 
		text-decoration: none; 
		outline: 0; 
		-webkit-transition: color 0.2s ease-out;
		-moz-transition: color 0.2s ease-out;
		-o-transition: color 0.2s ease-out;
		transition: color 0.2s ease-out;
	}
	a:hover, a:focus { 
		color: $archivedRed; 
	}
}


