.footer{
	height: 25px;
	background-color: white;
	margin: 30px 0 20px 0px !important;
	
	// padding-bottom: 20px;
	// border-top: 4px solid $archivedBlack;
	small{
		color: $archivedGray;
		margin-left: 10px;
	}
}