.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.custom-body{
	background-color: #fff;
	padding-bottom: 40px;
	border: .8px solid #eee;
	// box-shadow: 1px 1px 5px #888888;
	
}

.container{
	padding-left: 20px;
	padding-right: 20px;
}

.top-offset{
	margin-top: 20px;
}

.black{
	background-color: $archivedBlack;
}