.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.custom-body{
	background-color: $archivedWhite;
	padding: 40px 0 0px 0;
	overflow: hidden;
	
}

.container{
	background-color: $archivedWhite;
	padding-left: 20px;
	padding-right: 20px;
	// background-color: $archivedWhite;
}

.top-offset{
	margin-top: 20px;
}

.black{
	background-color: $archivedBlack;
}

.hidden{
	display: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}


.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}