input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	padding-left: 10px !important;
	
}

input {
	height: auto !important;

}

.checkbox-inline{
	input, textarea, select, .uneditable-input {
		width: 30px !important;
		display: inline;
	}
}

.remember-me{
	padding-bottom: 20px;
}