input[type="text"], input[type="password"], input[type="email"], textarea, select, .uneditable-input {
	box-sizing:border-box;
	border: 1px solid #bbb;
	width: 100%;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

input[type="submit"] {
	width: 100%
}

input {
	height: auto !important;

}

.checkbox-inline{
	input, textarea, select, .uneditable-input {
		width: 30px !important;
		display: inline;
	}
}

.remember-me{
	padding-bottom: 20px;
}