.links-table{
	table-layout:fixed !important;
	// text-overflow: ellipsis;
	width: 100%;
	
}

.links-numbering {
	width: 20px;
    white-space: nowrap;
    

}

.links-title {
	
	font-weight: bold;
	width: 1px;
    white-space: nowrap;
	
}

.links-divider {
	
	margin: 0 10px 0 10px;
}

.links-domain {

	a{
		color: #999 !important;
	}
}

.links-user {
	height: 30px;
}

.paginate{
	margin: 30px 0 0 0;
}

.show-link{
	font-size: 21px; line-height: 30px; margin-bottom: 4px;
}
