.links-table{
	width: auto;
	border: 1px !important;
}

.links-numbering {
	width: 20px;
    white-space: nowrap;
    

}

.links-title {
	font-weight: bold;
	width: 1px;
    white-space: nowrap;
	
}

.links-divider {
	
	margin: 0 10px 0 10px;
}

.links-domain {

	a{
		color: #999 !important;
	}
}

.links-user {
	
}