.nav{
	width: auto;
	height: 45px;
	background-color: $archivedBlack;
}

.logo{
	float: left;
	width: 25px;
	height: 25px;

	background: url(/assets/logo.png) no-repeat;
	background-size: auto 100%;
	background-position: center;

	margin-left: 20px;
	margin-top: 11px;
	margin-right: 10px;

	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 3s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
