.nav-container{
	background-color: white;
	overflow: hidden;
	margin-top: 20px;
	// box-shadow: 1px 1px 10px #888888;
}

.nav{
	width: auto;
	height: $nav;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	a{
		color: $archivedBlack !important;
	}
	
}

.sub-nav{
	width: auto;
	height: auto;
	li a{
		color: #999;
	}
}

.logo{
	width: 22px;
	height: 22px;

	background: url(/assets/logo.png) no-repeat;
	background-size: auto 100%;
	background-position: center;

	margin-left: 0px;
	margin-top: 12px;
	margin-right: 10px;

	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 4s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 4s; 
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}


.title-wrapper{
	width: 170px;
	// margin-left: auto;
	// margin-right: auto;
}

.menu-wrapper { 
	
	// margin-left: 12px;
	
}

.title{
	margin-top: 12px;
	color: $archivedBlack;
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;
}

.menu{
	margin-top: 10px;
	margin-right: 0px;
	li{
		margin-right: 20px;
		font-size: 1em;
		// font-weight: bold;
		color: $archivedGray;
		// display: inline;
		float: left;
	}
}
